## Download and Explore Dataset

Nova Iork has a total of 5 districts and 306 neighborhoods. To segment the neighborhoods and explore them, we will essentially need a data set that contains the 5 districts and neighborhoods that exist in each neighborhood, as well as the latitude and logitude coordinates for each neighborhood.

For convenience, the files are on the server, so you can run a wget command and access the data.

In [1]:
!wget -q -O newyork_data.json https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs/newyork_data.json
print('Data downloaded!')

Data downloaded!

### Load and explore the data

Next, let's load the data.

In [2]:
import json

with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

Let's take a quick look at the data.

In [9]:
#newyork_data

Notice how all the relevant data is in the features key, which is basically a list of the neighborhoods. So, let's define a new variable that includes this data.

In [3]:
neighborhoods_data = newyork_data['features']

Let's take a look at the first item in this list.

In [4]:
neighborhoods_data[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

## Tranform the data into a pandas dataframe

The next task is essentially transforming this data of nested Python dictionaries into a pandas dataframe. So let's start by creating an empty dataframe.

In [5]:
import pandas as pd

# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

Take a look at the empty dataframe to confirm that the columns are as intended.

In [6]:
neighborhoods

Empty DataFrame
Columns: [Borough, Neighborhood, Latitude, Longitude]
Index: []

Then let's loop through the data and fill the dataframe one row at a time.

In [7]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

Quickly examine the resulting dataframe.

In [8]:
neighborhoods.shape

(306, 4)

In [9]:
# save to dataframe 
neighborhoods_newyork=neighborhoods.to_csv("neighborhoods_newyork.csv")


# Let's explore just one of these 5 districts: Manhattan

In [10]:
manhattan=neighborhoods[neighborhoods["Borough"]=="Manhattan"].reset_index(drop=True)
manhattan.head(2)

     Borough Neighborhood   Latitude  Longitude
0  Manhattan  Marble Hill  40.876551 -73.910660
1  Manhattan    Chinatown  40.715618 -73.994279

In [11]:
manhattan.shape

(40, 4)

In [12]:
manhattan.to_csv("manhattan.csv")