# Rating e likes

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import json # library to handle JSON files

import requests # library to handle requests

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [25]:
#Edi
CLIENT_ID = 'P5MNEPLK4OXEDGPBP45SWSLTU1TY4R1DU4ZGMFBBOZCP23MO'# your Foursquare ID
CLIENT_SECRET = '3UTVUFOEVCRFZU5RGBMOSR4AFQG4BB4XXVN0P1NQMQNEFK2H'# your Foursquare Secret
ACCESS_TOKEN = "L5FWYDVVHZXJ4GKNOAD45X22X5MVYZJIFJHE1YJXFGDFB4YN"# your FourSquare Access Token
VERSION = '20180604'

In [26]:
lista_id=pd.read_csv("df_drybar.csv")
lista=lista_id["id"]

In [476]:
results = lista[7]
results

'558e9564498e4c9557996706'

In [477]:
url= 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&oauth_token={}&v={}'.format(
    results,CLIENT_ID,
    CLIENT_SECRET,
    ACCESS_TOKEN, 
    VERSION)

resultado= requests.get(url).json()

    #print(resultado_rating)

In [478]:
resultado['response']['venue'].keys()

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'likes', 'like', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'popular', 'seasonalHours', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto'])

In [479]:
resultado['response']['venue']["likes"]["count"]

31

In [480]:
resultado['response']['venue']["id"]

'558e9564498e4c9557996706'

In [481]:
resultado['response']['venue']["name"]

'Drybar Bryant Park'

In [482]:
resultado['response']['venue']['rating']

6.9

In [509]:
resultado['response']['venue']['tips']['groups'][1]['items'][0]["text"]

'Great blow out but hair turned frizzy in an hour'

In [510]:
# comecei usando o numero 3 

id=[]
name=[]
rating=[]
likes=[]
text=[]

id.append(resultado['response']['venue']["id"])
name.append(resultado['response']['venue']["name"])
rating.append(resultado['response']['venue']['rating'])
likes.append(resultado['response']['venue']["likes"]["count"])
text.append(resultado['response']['venue']['tips']['groups'][1]['items'][0]["text"])
print(id)
print(name)
print(rating)
print(likes)
print(text)

['558e9564498e4c9557996706']
['Drybar Bryant Park']
[6.9]
[31]
['Great blow out but hair turned frizzy in an hour']

In [ ]:
# Criando o dicon√°rio

In [525]:
data_dic={"id":id,"name":name,"rating":rating,"likes":likes,"text":text}

In [526]:
data_rating= pd.DataFrame(data_dic)
data_rating

,id,name,rating,likes,text
0,558e9564498e4c9557996706,Drybar Bryant Park,6.9,31,Great blow out but hair turned frizzy in an hour

###  Fazer um for para facilitar o processo

In [517]:
venue_id = lista

like=[]


for results in venue_id:

    url= 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&oauth_token={}&v={}'.format(
    results, 
    CLIENT_ID, 
    CLIENT_SECRET,
    ACCESS_TOKEN, 
    VERSION)
   
    resultado_for= requests.get(url).json()
    
    like.append(resultado['response']['venue']["likes"]["count"])

In [520]:
data_dic={"id":id,"name":name,"rating":rating,"likes":like,"text":text}

In [529]:
data_rating= pd.DataFrame(data_dic)
data_rating

,id,name,rating,likes,text
0,558e9564498e4c9557996706,Drybar Bryant Park,6.9,31,Great blow out but hair turned frizzy in an hour

In [ ]:
# O arquivo com os dados est√£o em csv

In [535]:
df_rating=pd.read_csv("teste.csv",encoding='iso-8859-1',delimiter =';')
df_rating.head()

,id,name,rating,like,text
0,5345ddce498e374167fa7173,DryBar,8.4,62,My favorite Dry Bar! The stylists know how to ...
1,4f2064f8e4b0a00cf1d3c3c1,DryBar,8.0,62,The only place where mixing a Manhattan and a ...
2,4e6f679dae604d1b459a5154,DryBar,8.5,142,Uncharged? No worries! You can charge your iPh...
3,50df63efe4b0454c5e8f655d,Drybar,8.9,72,If you want big curls & big volume (The Southe...
4,5085a8b5e4b0ca321fdcea32,Dry Bar,9.2,89,Free champagne and chick flicks. Oh and a blow...