
















































## Segmenting and Clustering Neighborhoods in Toronto

## Introduction

We will convert addresses to their equivalent latitude and longitude values.Use the Foursquare API to explore neighborhoods in the city of Toronto. We will use the **explore** function to obtain the most common location categories in each neighborhood, then group the neighborhoods with the _k_-means clustering algorithm and finally use the Folium library to view Toronto city neighborhoods and its emerging clusters.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>

1.  <a href="#item1">Web Scraping Table Toronto</a>

2.  <a href="#item2">Geographic coordinates the Toronto</a>

3.  <a href="#item3">Exploring downtown Toronto neighborhoods</a>

4.  <a href="#item4">Clustering Downtown Toronto's Neighborhoods</a>

5.  <a href="#item5">Examine Clusters</a>  
    </font>
    </div>

# 2.Geographic coordinates the Toronto

Now with the postal code dataframe of each neighborhood together with the neighborhood name and the neighborhood name, created, we will use the location data from Foursquare to obtain the latitude and longitude coordinates of each neighborhood.

The csv file that contains the geographic coordinates of each zip code for Toronto neighborhoods.

In [264]:
df2= pd.read_csv("Geospatial_Coordinates.csv")
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

- Joining dataframes

In [265]:
# Renamed the columns
df2=df2.rename(columns={'Postal Code':'PostalCode'} )

df3=pd.merge(df, df2, on=["PostalCode"], how="inner")
df3.head(2)

  PostalCode     Borough      Neighborhood   Latitude  Longitude
0        M3A  North York         Parkwoods  43.753259 -79.329656
1        M4A  North York  Victoria Village  43.725882 -79.315572

In [266]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(len(df3['Borough'].unique()),df3.shape[0]))

The dataframe has 15 boroughs and 103 neighborhoods.

Explore only neighborhoods that contain the word Toronto.

In [268]:
df_toronto = df3[(df3['Borough'].str.contains("Toronto"))].reset_index(drop=True)
df_toronto.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
1,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
2,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
3,M4E,East Toronto,The Beaches,43.676357,-79.293031
4,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
5,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
6,M6G,Downtown Toronto,Christie,43.669542,-79.422564
7,M5H,Downtown Toronto,"Richmond, Adelaide, King",43.650571,-79.384568
8,M6H,West Toronto,"Dufferin, Dovercourt Village",43.669005,-79.442259
9,M4J,East York/East Toronto,The Danforth East,43.685347,-79.338106
10,M5J,Downtown Toronto,"Harbourfront East, Union Station, Toronto Islands",43.640816,-79.381752
11,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750

In [127]:
df_toronto[["Borough"]].value_counts()

Borough
Downtown Toronto          17
Central Toronto            9
West Toronto               6
East Toronto               4
East York/East Toronto     1
East Toronto Business      1
Downtown Toronto Stn A     1
dtype: int64

### Thank you

This notebook is part of a course on **Coursera** called _Applied Data Science Capstone_.